@import "./scss/app-loading-indicator";
@import "./scss/variables";

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

button,
input,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
}

input[type="search"],
input[type="checkbox"] {
  appearance: none;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}
